body {
  color:#FFFFFF;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: #2C2F33;
  cursor: default;
}
button {
  font-size: 24px;
  border-radius: 20px;
  color:#FFFFFF;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: #275edc;
  transition-duration: 0.4s;
  cursor: pointer;
}
button:hover {
  background-color: #A93226;
  color: #FFFFFF;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button:active {
  background-color: rgb(134, 7, 7);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.title {
  text-decoration: underline;
}
.updates {
  text-align: left;
}
.github {
  float: right;
  width: 3%;
  height: 3%;
  cursor: pointer;
}
.discord {
  float: right;
  width: 3%;
  height: 3%;
  cursor: pointer;
}
a {
  color: #A93226;
}
p::selection {
  color:white;
  background: #A93226;
}
h3::selection {
  color: white;
  background:#A93226;
}
a::selection {
  color:#FFFFFF;
  background: #275edc;
}
h1::selection {
  color: white;
  background: #A93226;
}
body::selection {
  color: white;
  background: #A93226;
}
h2::selection {
  color: white;
  background: #A93226;
}
button::selection {
  color:white;
  background: #A93226;
}
b::selection {
  color: white;
  background: A93226;
}
