/*Changes the look of elements and how they are interacted with*/
body {
  color:#FFFFFF;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: #2C2F33;
  cursor: default;
}

button {
  font-size: 150%;
  border-radius: 20px;
  color:#FFFFFF;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: #275edc;
  transition-duration: 0.4s;
  cursor: pointer;
}

a {
  color: #A93226;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2C2F33;
}

li {
  float: left;
  padding: 14px 16px;
  cursor: pointer;
  background-color: #42474d;
  border: 2px solid white;
}

li:hover {
  background-color: #2C2F33;
}

.active:hover {
  background-color: #275edc;
}

.title {
  text-decoration: underline;
}

.updates {
  text-align: left;
  overflow: auto;
  height: 50vh;
}

.github {
  float: right;
  width: 3%;
  height: 3%;
  cursor: pointer;
}

.discord {
  float: right;
  width: 3%;
  height: 3%;
  cursor: pointer;
}

.active {
  background-color: #275edc;
}

/*Changes the look of elements when highlighted*/
p::selection {
  color:white;
  background: #A93226;
}

h3::selection {
  color: white;
  background:#A93226;
}

a::selection {
  color:#FFFFFF;
  background: #275edc;
}

h1::selection {
  color: white;
  background: #A93226;
}

body::selection {
  color: white;
  background: #A93226;
}

h2::selection {
  color: white;
  background: #A93226;
}

button::selection {
  color:white;
  background: #A93226;
}

b::selection {
  color: white;
  background: A93226;
}

/*Button effects*/
button:hover {
  background-color: #A93226;
  color: #FFFFFF;
  box-shadow: 0 12px 16px 0 #0000003d, 0 17px 50px 0 #00000030;
}

button:active {
  background-color: #860707;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
