/*Changes the look of elements and how they are interacted with*/
body {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  cursor: default;
  background-color: #2C2F33;
}

button {
  font-size: 24px;
  border-radius: 20px;
  background-color: #275edc;
  transition-duration: 0.4s;
  color: white;
  cursor: pointer;
}

/*Changes how elements look when highlighted*/
body::selection {
  color:white;
  background: #A93226;
}

h1::selection {
  color: white;
  background: #A93226;
}

h4::selection {
  color: white;
  background: #A93226;
}

/*Button effects*/
button:hover {
  background-color: #A93226;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:active {
  background-color: #A93226;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}