/*Changes the look of elements and how they are interacted with*/
body {
    background-color: black;
    cursor: default;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  h1 {
    color: #2fb11b;
  }
  
  button {
    background-color: hsl(112, 74%, 40%);
    font-size:25px;
    border-radius: 15px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
  }
  
  .info {
    float: left;
    padding: 5%;
    text-align: center;
  }
  
  .shop {
    float: right;
    padding: 5%;
    text-align: center;
  }
  
  /*Changes the look of elements when highlighted*/
  body::selection {
    color:white;
    background-color: #2fb11b;
  }
  
  h2::selection {
    color:white;
    background-color: #2fb11b;
  }
  
  button::selection {
    color:black;
    background-color: #2fb11b;
  }
  
  /*Button effects*/
  button:hover {
    background-color: #2fb11b; /* Green */
    color: black;
  }
  
  button:active {
    background-color: #2fb11b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }